include LICENSE
include *.md
include pyproject.toml

include package.json
include install.json
include ts*.json
include yarn.lock

graft lc_run_through/labextension

# Javascript files
graft src
graft style
prune **/node_modules
prune lib
prune binder

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints

# 新版に合わせて追加
include *.gif
include *.txt
recursive-include docs *.md
recursive-include lc_run_through *.css
recursive-include lc_run_through *.js
recursive-include lc_run_through *.md
recursive-include lc_run_through *.png
recursive-include lc_run_through *.yml
