.run-through .btn {
    padding: 2px 4px;
    font-size: 120%;
}

.run-through {
    display: block;
    width: inherit;
    border: 1px solid #cccccc;
    border-radius: 2px 2px;
    padding: 3px 10px 3px 10px;
}

.run-through .heading-result {
    font-size: 100%;
    margin: 5px 5px 5px 5px;
    font-weight: bold;
    font-family: Meiryo, sans-serif;
    line-height: 1.2em;
    height: 1.2em;
    text-align: center;
    float: left;
    clear: both;
}

.run-through .text-result {
    display: none;
}

.run-through .code-result {
    font-size: 100%;
    margin: 5px 5px 5px 5px;
    color: #000;
    line-height: 1.2em;
    border-radius: 3px 3px;
    width: 1.2em;
    height: 1.2em;
    text-align: center;
    float: left;
    background: #cccccc;
}

.run-through .code-success {
    background: #85f185;
}

.run-through .code-error {
    background: #ff8888;
}

.btn .fa-lock {
  background-color: #fffef0;
  color: black;
  padding: 2px;
  border-radius: 2px;
}

.fa-freeze:before {
  content: "\f2dc";
}

.btn .fa-freeze {
  background-color: cornflowerblue;
  color: white;
  padding: 1px;
  border-radius: 2px;
}

.run-through .fa-freeze {
  color: white;
}

.fa-unfreeze:before {
  content: "\f2dc";
  color: #888;
}

.fa-unfreeze-below-all:before {
    content: "\f2dc";
    color: #888;
}

.fa-unfreeze-below-all:after {
    content: "\00a0\f04e";
}

.fa-unfreeze-below-in-section:before {
    content: "\f2dc";
    color: #888;
}

.fa-unfreeze-below-in-section:after {
    content: "\00a0\f050"
}

.prompt-freeze {
    color: rgba(0, 0, 0, 0);
    padding: 2px;
    border-radius: 2px;
}

.prompt-freeze:before {
    content: "\f2dc";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0 -0.85em 0 0;
    color: white;
}
